html {
    font-size: 11px;
}

/* header */
header{
    overflow: hidden;
}

nav{
    height: 50px;
}

div.logo{
    width: 50px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

div.title{
    text-align: center;
    vertical-align: middle;
}

/* container */
div.container{
    text-align: center;
}


h2{
    color: hotpink;
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}


th {
    text-align: center;
}

td{
    height: 250px;
    padding: 5px;
}

div.info{
    height: 100px;
}

img{
    height: 70px;
}

table, th, td {
    border: 1px solid black;
}


button {
    margin: 4px;
}

#code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#profilePictureDiv {
    text-align: center;
}

#profileImageDiv {
    height: 100px;
    width: 100px;
}

#statusMessage {
    position: relative;
    top: 40px;
}

.textLeft {
    text-align: left;
}

.buttonGroup {
    padding-top: 20px;
}

.hidden {
    display: none;
}
