html {
    font-size: 11px;
}

p{
    margin: 0 10px;
}

/* header */
header{
    overflow: hidden;
}

nav{
    height: 50px;
}

div.logo{
    margin-top: 20px;
    text-align: center;
}

.logo_img{
    width: 250px;
    height: auto;
}

h1{
    text-align: center;
    vertical-align: middle;
}

/* container */
div.container{
    text-align: center;
}


.section{
    margin-bottom: 60px;
}


h2{
    color: hotpink;
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}


th {
    text-align: center;
}

td{
    height: 300px;
    padding: 15px;
}

div.info{
    height: 100px;
}

img{
    height: 70px;
}

table, th, td {
    border: 1px solid black;
}

.row{
    overflow: hidden;
}

.col-1{
    width: 30%;
    float: left;
    padding: 20px 0;
}
.col-2{
    width: 70%;
    float:right;
}
.col-3{
    width: 70%;
    float: left;
}
.col-4{
    width: 30%;
    float:right;
    padding: 20px 0;
}

h4{
    margin: 10px;
}

button {
    margin: 4px;
    width: 100px;
    text-align: center;
}

.copyright{
    background: #ccc;
    text-align: center;
    padding: 40px;
}

#code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#profilePictureDiv {
    text-align: center;
}

#profileImageDiv {
    height: 100px;
    width: 100px;
}

#statusMessage {
    position: relative;
    top: 40px;
}

.textLeft {
    text-align: left;
}

.buttonGroup {
    padding-top: 20px;
}

.hidden {
    display: none;
}
